@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}
.game-container{
  width: 100vw;
  height: 100vh;
  background: url(../public/background.png);
}
.title{
  font-size: 64px;
  font-weight: bold;
  width: 100vw;
  text-align: center;
  text-shadow: 0px 2px 6px grey;
  padding-top: 100px;
}
.game{
  display: flex;
  margin: 0 auto;
  width: 50vw;
  margin-top: 50px;
}
@media (max-width: 800px) {
  .game {
    flex-direction: column;
    width: 100vw;
    padding: 0 50px;
    margin:unset;
  }
}
.game-board{
  flex-grow: 1;
  text-align: center;
  flex-basis: 100%;
  margin-bottom: 50px;
}
.game-info{
  flex-grow: 1;
  text-align: center;
  flex-basis: 100%;
}
button.game-start-btn{
  background-color: #749DCD;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-size: 27px;
  border: none;
  margin-bottom: 20px;
  width: 250px;
}
@media screen and (max-width: 480px) {
  button.game-start-btn{
    width: 100%;
  }
}
span{
  text-decoration: none;
  color: #5185C2;
}
span.active{
  font-weight: bold;
  color: #75C181;
}

  ol, ul {
    list-style: none;
  }
  
  .board-row {
    justify-content: center;
    display: flex;
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }  
  .square {
    background: #fff;
    border: 0;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: 6px;
    margin-top: 6px;
    padding: 0;
    text-align: center;
    width: 50px;
  }
  .square:focus {
    outline: none;
  }
  .square {
    background: #749DCD;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    background: #4877AE;
    display: block;
    border-radius: 5px;
    font-size: 32px;
    color: white;
    box-shadow: 1px 1px 10px #4877ae;
  }
  ol li{
    margin-bottom:10px;
  }
  .front.highlighted {
    background: #75C181;
    color: #fff;
  }