body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: 6px;
    margin-top: 6px;
    padding: 0;
    text-align: center;
    width: 50px;
  }
  
  .square:focus {
    outline: none;
  }

  .square {
    background: hsl(340deg 100% 32%);
    border-radius: 4px;
    /* border: none; */
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    /* padding: 12px 42px; */
    border-radius: 5px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
  }

  .square:active .front {
    transform: translateY(-2px);
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .front.highlighted {
    background: orange;
    color: black;
  }
  .bold{
    font-weight: bold;
  }