* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font: 14px "Century Gothic", Futura, sans-serif;
  }
  
  ol, ul {
    list-style: none;
    margin-top: 20px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: 6px;
    margin-top: 6px;
    padding: 0;
    text-align: center;
    width: 50px;
  }
  
  .square:focus {
    outline: none;
  }

  .square {
    background: hsl(0deg 39% 56%);
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    border-radius: 5px;
    font-size: 1.25rem;
    background: hsl(0deg 68% 76%);
    color: #3c3c3c;
    transform: translateY(-6px);
  }

  .square:active .front {
    transform: translateY(-2px);
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game-container{
    width: 100vw;
    height: 100vh;
    background-color: #dfe6e9;
  }
  
  .game {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 45%;
  }
  ol li button{
    background: #e3979f;
    padding: 5px 20px;
    border: none;
    box-shadow: 2px 2px 5px #893737;
    color: #262525;
    font-size: 15px;
  }
  ol li{
    margin-bottom:10px;
  }
  
  .game-info {
    margin-top: 20px;
  }
  
  .front.highlighted {
    background: hsl(74deg 27% 53%);
    color: #fff;
  }
  .bold{
    font-weight: bold;
  }